/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-Oct-2016, 9:36:17 PM
    Author     : ebhli
*/

/*
CSS Credit: http://www.templatemo.com
*/

body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	
	background: #000000;
}
		
a:link, a:visited { color: #ffff00; text-decoration: underline; font-weight: normal; } 
a:active, a:hover { color: #ffff00; text-decoration: none; }

p { margin: 0px; padding: 0 0 10px 0; }

img { margin: 0px; padding: 0px; border: none; }

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }

.margin_bottom_10 { clear: both; width: 100%; height: 10px; font-size: 1px;	}
.margin_bottom_20 { clear: both; width: 100%; height: 20px; font-size: 1px;	}
.margin_bottom_30 { clear: both; width: 100%; height: 30px; font-size: 1px;	}
.margin_bottom_40 { clear: both; width: 100%; height: 40px; font-size: 1px;	}
.margin_bottom_50 { clear: both; width: 100%; height: 50px; font-size: 1px;	}
.margin_bottom_60 { clear: both; width: 100%; height: 60px; font-size: 1px;	}

.margin_right_20 { margin-right: 20px; }
.margin_right_40 { margin-right: 40px; }

.button_01 a {
	clear: both;
	display: block;
	width: 100px;
	height: 23px;
	padding-top: 3px;
	background: url(images/templatemo_button_01.jpg) no-repeat;
	
	color: #ffffff;
	font-size: 12px;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
}

.fl { float: left; }
.fr { float: right; }

h1 {
	margin: 0px;
	padding: 10px 0;
	font-size: 34px;
	color: #ffffff;
	font-weight: normal;	
}

h2 {
	margin: 0 0 20px 0;
	padding: 5px 0 10px 0;
	font-size: 36px;
	letter-spacing: 20px;
	color: #ffffff;
	font-weight: normal;	
}

h3 {
	margin: 0 0 10px 0;
	padding: 0 0 5px 0;
	font-size: 18px;
	color: #ffffff;
	font-weight: normal;	
}

h4 {
	margin: 0 0 10px 0;
	padding: 0 0 5px 0;
	font-size: 20px;
	color: #ffffff;
	font-weight: normal;	
}

.em_text {
	color: #00ffff;
}

.image_wrapper {
	margin-top: 3px;
}

.fl_image {
	float: left;
	margin-right: 10px 
}

.fr_image {
	float: right;
	margin-left: 10px 
}

#templatmeo_container {
	width: 800px;
	
        margin :0 auto;
	background: url(images/templatemo_main_bg.jpg) top left no-repeat;
        align:center;
      
}

/* banner */
#templatemo_site_title_bar {
	width: 780px;
	height: 130px;
	padding: 0;
	text-align: right;
}

#templatemo_site_title_bar #site_title {
	text-align: right;
}

#site_title h1 a {
	margin: 0px;
	padding: 0px;
	font-size: 40px;
	color: #ffffff;
	font-weight: normal;
	text-decoration: none;
}

#site_title h1 a:hover {
	font-weight: normal;	
	text-decoration: none;
}

#site_title h1 a span {
	display: block;
	margin-top: 10px;
	font-size: 16px;
	letter-spacing: 5px;
}

/* end of banner */

/* menu */
#templatemo_menu {
	clear: both;
	width: 780px;
	height: 38px;
	overflow: hidden;
}

#templatemo_left_menu {
	float: left;
	width: 600px;
	padding: 0 0 0 6px;
	margin: 0px;
	list-style: none;
}

#templatemo_left_menu li {
	padding: 0px;
	margin: 0px;
	display: inline;
}

#templatemo_left_menu li a {
	position: relative;
	float: left;
	display: block;
	height: 28px;
	width: 80px;
	padding: 10px 6px 0 0;
	margin-right: 11px;
	font-size: 14px;
	text-align: center;
	font-weight: normal;
	text-decoration: none;
	color: #e7e2d9;	
	background: url(images/templatemo_menu_right.png) right bottom no-repeat;
	outline: none;
}

#templatemo_left_menu li a span {
	position: absolute;
	width: 6px;
	height: 38px;
	left: -6px;
	bottom: 0px;
	background: url(images/templatemo_menu_left.png) no-repeat;
}

#templatemo_left_menu li a:hover, #templatemo_left_menu li .current {
	background: url(images/templatemo_menu_hover_right.png) right bottom no-repeat;
}

#templatemo_left_menu li a:hover span, #templatemo_left_menu li .current span {
	position: absolute;
	width: 6px;
	height: 38px;
	left: -6px;
	bottom: 0px;
	background: url(images/templatemo_menu_hover_left.png) no-repeat;
}

#templatemo_right_menu {
	float: right;
	margin: 0px;
	padding: 10px 0 0 0;
	list-style: none;
	text-align: right;
}

#templatemo_right_menu li {
	margin: 0;
	padding: 0;
	display: inline;
}

#templatemo_right_menu li a {
	float: left;
	display: block;
	color: #6dcff6;
	padding: 0 0 0 15px;
	margin: 0 0 0 15px;
	text-decoration: none;
	border-left: 1px solid #6dcff6;
}

#templatemo_right_menu li a:hover {
	text-decoration: underline;
}


#templatemo_right_menu li .first {
	border: none;
	padding: 0;
	margin: 0;
}

/* end of menu */


/* banner */

#templatemo_banner {
	clear: both;
	width: 750px;	
	padding: 170px 15px 15px 15px;
	margin-bottom: 30px;
	background: #00aeef url(images/templatemo_banner_bg.jpg.jpg) center top no-repeat;
}

#templatemo_banner p {
	text-align: justify;
}

#templatemo_banner h2 span {
	display: block;
	margin-top: 25px;
	color: #fff200;
	font-size: 30px;	
	letter-spacing: 20px;
}

#templatemo_banner #banner_left_section {
	float: left;
	width: 475px;
}

#templatemo_banner h3 {
	text-align: center;
}

#templatemo_banner #login_section {
	float: right;
	margin-top: 70px;
	width: 230px;
	height: 117px;
	padding: 30px 15px 15px 30px;
	background: url(images/templatemo_login_bg.jpg) top left no-repeat;
}

#banner_left_section .form_row {
	margin-bottom: 3px;
        
}
#banner_left_section .cust_reg{
  padding-left: 60px;  
}

#fd1{
    width: 600px;
    border-color: gray;
    border-width: 4.5px;
}
#fd2{
    width: 598px;
    border-color: white;
    border-width: 5px;
}
#cust_detail_fd2{
 width: 598px;
 height: 250px;
}

#banner_left_section .next_button{
    display: inline-block;
    padding: 15px 25px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    background-color: #11495F;
    border: none;
    border-radius: 15px;
}

a:link
{
    text-decoration:none;
    color:black;
}
a:focus
{
    color:firebrick;
}
.action-button
{
    position: relative;
    padding: 10px 40px;
    margin: 0px 10px 10px 0px;
    float: left;
    border-radius: 10px;
    font-family: 'Pacifico', cursive;
    font-size: 20px;
}
.blue
{
    background-color: #EAF3F3;
    border-bottom: 5px solid #2980B9;
    text-shadow: 0px -2px #2980B9;
}
#banner_left_section .reg_button{
    display: inline-block;
    padding: 15px 25px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    background-color: #11495F;
    border: none;
    border-radius: 15px;
}

a:link
{
    text-decoration:none;
    color:black;
}
a:focus
{
    color:firebrick;
}
.action-button
{
    position: relative;
    padding: 10px 40px;
    margin: 0px 10px 10px 0px;
    float: left;
    border-radius: 10px;
    font-family: 'Pacifico', cursive;
    font-size: 20px;
}
.blue
{
    background-color: #EAF3F3;
    border-bottom: 5px solid #2980B9;
    text-shadow: 0px -2px #2980B9;
}

.inputfield{
    width: 50px;
    height: 1.2em;
    font-size: 15px;
}

.lbl1{
    font-size: 18px;
    font-family: 'Pacifico';
    
    
}

#banner_left_section form{
    position: center;
}

#login_section form {
	margin: 0;
	padding: 0;
	text-align: right;	
}

#login_section label {
	margin-right: 10px;
}

#banner_left_section .inputfield {
	width: 130px;
	height: 18px;
	padding: 1px 0;
	line-height: normal;
	color: #99836c;
}

#login_section .button {
	width: 60px;
	line-height: normal;
	margin: 0;
	height: 23px;
}
/* end of banner */

#templatemo_content {
	clear: both;
	margin-bottom: 30px;
}

#main_column {
	float: left;
	width: 490px;
}

#side_column { 
	float: right;
	width: 260px;
	padding-top: 30px;
}

.section_w490 {
	clear: both;
	width: 490px;
}

.section_w220 {
	float: left;
	width: 235px;
	padding-right: 10px;
	margin-bottom: 25px;
}

#quick_contact {
	clear: both;
	width: 200px;
	height: 160px;
	padding: 30px;
	font-weight: bold;
	overflow: hidden;
	background: url(images/templatmeo_quickcontact_bg.jpg) no-repeat;
}

#quick_contact h3 {
	font-weight: bold;
}

#quick_contact .list {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#quick_contact .list li {
	margin: 0px;
	padding: 0 0 5px 0;
}
/* end of content */

/* footer */
#templatemo_footer {
	clear: both;
	width: 780px;
	margin-bottom: 15px;
	text-align: center;
}

#templatemo_footer .footer_menu {
	padding: 15px 0;
	margin: 0 0 15px 0;
	list-style: none;
	background: #005588;
}

.footer_menu li {
	padding: 0px;
	margin: 0px;
	display: inline;
}

.footer_menu li a{
	padding: 0 10px;
	display: inline;
	color: #ffffff;
	text-decoration: none;
	border-left: 1px solid #ffffff;
}

.footer_menu li a:hover {
	text-decoration: underline;
}

.footer_menu li .first {
	border: none;
}
/* end of footer */

/* menu */
#templatemo_menu_cust {
	clear: both;
	width: 780px;
	height: 38px;
	overflow: hidden;
}

#templatemo_left_menu_cust {
	float: left;
	width: 600px;
	padding: 0 0 0 6px;
	margin: 0px;
	list-style: none;
}

#templatemo_left_menu_cust li {
	padding: 0px;
	margin: 0px;
	display: inline;
}

#templatemo_left_menu_cust li a {
	position: relative;
	float: left;
	display: block;
	height: 28px;
	width: 80px;
	padding: 10px 6px 0 0;
	margin-right: 11px;
	font-size: 14px;
	text-align: center;
	font-weight: normal;
	text-decoration: none;
	color: #e7e2d9;	
	background: url(images/templatemo_menu_right.png) right bottom no-repeat;
	outline: none;
}

#templatemo_left_menu_cust li a span {
	position: absolute;
	width: 6px;
	height: 38px;
	left: -6px;
	bottom: 0px;
	background: url(images/templatemo_menu_left.png) no-repeat;
}

#templatemo_left_menu_cust li a:hover, #templatemo_left_menu_cust li .current {
	background: url(images/templatemo_menu_hover_right.png) right bottom no-repeat;
}

#templatemo_left_menu_cust li a:hover span, #templatemo_left_menu_cust li .current span {
	position: absolute;
	width: 6px;
	height: 38px;
	left: -6px;
	bottom: 0px;
	background: url(images/templatemo_menu_hover_left.png) no-repeat;
}
/* end of menu */

#siteTable  
{
    width: 100%;
    color:black;
}
.button {
    display: inline-block;
    
    padding: 5px 25px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    background-color: #11495F;
    border: none;
    border-radius: 15px;
}
a:link
{
    text-decoration:none;
    color:black;
}
a:focus
{
    color:firebrick;
}
.action-button
{
    position: relative;
    padding: 10px 40px;
    margin: 0px 10px 10px 0px;
    float: left;
    border-radius: 10px;
    font-family: 'Pacifico', cursive;
    font-size: 20px;
}
.blue
{
    background-color: #EAF3F3;
    border-bottom: 5px solid #2980B9;
    text-shadow: 0px -2px #2980B9;
}
.responstable {
	margin: 1em 0;
	width: 100%;
	overflow: hidden;
	background: #FFF;
	color: #024457;
	border-radius: 10px;
	border: 1px solid #167F92;
}
.responstable tr {
    border: 1px solid #D9E4E6;
}
.responstable tr:nth-child(odd) {
    background-color: #EAF3F3;
}
.responstable th {
    display: none;
    border: 1px solid #FFF;
    background: url(images/templatemo_menu_right.png) right bottom no-repeat;
    color: #FFF;
    padding: 1em;
}
.responstable th:first-child {
    display: table-cell;
    text-align: center;
}
.responstable th:nth-child(2) {
    display: table-cell;
}
.responstable th:nth-child(2) span {
    display: none;
}
.responstable th:nth-child(2):after {
    content: attr(data-th);
}
@media (min-width: 480px) {
    .responstable th:nth-child(2) span {
        display: block;
    }
    .responstable th:nth-child(2):after {
        display: none;
    }
}
.responstable td {
    display: block;
    font-size: 16px;
    word-wrap: break-word;
    max-width: 7em;
}
.responstable td:first-child {
    display: table-cell;
    text-align: center;
    border-right: 1px solid #D9E4E6;
}
@media (min-width: 480px) {
    .responstable td {
        border: 1px solid #D9E4E6;
    }
}
.responstable th, .responstable td {
    text-align: left;
    margin: .5em 1em;
}
@media (min-width: 480px) {
    .responstable th, .responstable td {
        display: table-cell;
        padding: 1em;
    }
}

/*

responstable 2.0 by jordyvanraaij
  Designed mobile first!

If you like this solution, you might also want to check out the 1.0 version:
  https://gist.github.com/jordyvanraaij/9069194

*/
.responstable {
	margin: 1em 0;
	width: 100%;
	overflow: hidden;
	background: #FFF;
	color: #024457;
	border-radius: 10px;
	border: 1px solid #167F92;
}
.responstable tr {
	border: 1px solid #D9E4E6;
}
.responstable tr:nth-child(odd) {
	background-color: #EAF3F3;
}
.responstable th {
	display: none;
	border: 1px solid #FFF;
	background: url(images/templatemo_menu_right1.png) right bottom no-repeat;
	color: #FFF;
	padding: 1em;
}
.responstable th:first-child {
	display: table-cell;
	text-align: center;
}
.responstable th:nth-child(2) {
	display: table-cell;
}
.responstable th:nth-child(2) span {
	display: none;
}
.responstable th:nth-child(2):after {
	content: attr(data-th);
}
@media (min-width: 48%) {
	.responstable th:nth-child(2) span {
		display: block;
	}
	.responstable th:nth-child(2):after {
		display: none;
	}
}
.responstable td {
	display: block;
	font-size: 16px;
	word-wrap: break-word;
	max-width: 7em;
}
.responstable td:first-child {
	display: table-cell;
	text-align: center;
	border-right: 1px solid #D9E4E6;
}
@media (min-width: 48%) {
	.responstable td {
		border: 1px solid #D9E4E6;
	}
}
.responstable th, .responstable td {
	text-align: left;
	margin: .5em 1em;
}
@media (min-width: 480px) {
	.responstable th, .responstable td {
		display: table-cell;
		padding: 1em;
	}
}

body {
	padding: 0 2em;
	font-family: Verdana, Geneva, sans-serif;
	color: #024457;
	background: #000000;
}

h1 {
	font-family: Verdana, Geneva, sans-serif;
	font-weight: normal;
}
h1 span {
	color: #167F92;
}

#proposal-div
{
	color:white;
}
#proposalTable
{
	width: 100%;
	color:black;
}
.button {
	display: inline-block;
	padding: 15px 25px;
	font-size: 15px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: white;
	background-color: #11495F;
	border: none;
	border-radius: 15px;
}
a:link
{
	text-decoration:none;
	color:black;
}
a:focus
{
	color:firebrick;
}
.action-button
{
	position: relative;
	padding: 10px 40px;
	margin: 0px 10px 10px 0px;
	float: left;
	border-radius: 10px;
	font-family: 'Pacifico', cursive;
	font-size: 20px;
}
.blue
{
	background-color: #EAF3F3;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
}
#search input[type="text"] {
	border: 1px solid #d1d1d1;
	font: bold 12px Arial,Helvetica,Sans-serif;
	color: black;
	width: 150px;
	padding: 6px 15px 6px 35px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
	-webkit-transition: all 0.7s ease 0s;
	-moz-transition: all 0.7s ease 0s;
	-o-transition: all 0.7s ease 0s;
	transition: all 0.7s ease 0s;
}

#search input[type="text"]:focus {
	width: 200px;
}
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 7%; /* Location of the box */
	padding-bottom: 7%;
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 70%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	border: 1px solid #888;
	width: 60%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
}

@keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
}

/* The Close Button */
.close {
	color: black;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.modal-header {
	padding: 2px 16px;
	color: white;
	background-color: lavender;
}

.modal-body {
	padding-top: 5%;
	padding-bottom: 5%;
	background-color: lavender;
}

.form{
	background:#f1f1f1; width:470px; margin:0 auto; padding-left:50px; padding-top:20px;
}
.form fieldset{border:0px; padding:0px; margin:0px;}
.form p.proposal { font-size: 12px; margin:0px 0px 10px 0;line-height: 14px; font-family:Arial, Helvetica;}

.form input[type="text"] { width: 400px; }
.form input[type="email"] { width: 400px; }

.form label { color: #000; font-weight:bold;font-size: 12px;font-family:Arial, Helvetica; }
.form label.month {width: 135px;}
.form input, textarea { background-color: rgba(255, 255, 255, 0.4); border: 1px solid rgba(122, 192, 0, 0.15); padding: 7px; font-family: Keffeesatz, Arial; color: #4b4b4b; font-size: 14px; -webkit-border-radius: 5px; margin-bottom: 15px; margin-top: -10px; }
.form input:focus, textarea:focus { border: 1px solid #ff5400; background-color: rgba(255, 255, 255, 1); }
.form .select-style {
	-webkit-appearance: button;
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	-webkit-padding-end: 20px;
	-webkit-padding-start: 2px;
	-webkit-user-select: none;
	background-color: #E5E5E5;
-webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
	background-position: center right;
	background-repeat: no-repeat;
	border: 0px solid #FFF;
	color: #555;
	font-size: inherit;
	margin: 0;
	overflow: hidden;
	padding-top: 5px;
	padding-bottom: 5px;
	text-overflow: ellipsis;
	white-space: nowrap;}
.form .gender {
	width:410px;
}
.form input.buttom{ background: #4b8df9; display: inline-block; padding: 5px 10px 6px; color: #fbf7f7; text-decoration: none; font-weight: bold; line-height: 1; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-box-shadow: 0 1px 3px #999; -webkit-box-shadow: 0 1px 3px #999; box-shadow: 0 1px 3px #999; text-shadow: 0 -1px 1px #222; border: none; position: relative; cursor: pointer; font-size: 14px; font-family:Verdana, Geneva, sans-serif;}
.form input.buttom:hover	{ background-color: #2a78f6; }


